{{> header }}

    <div class="jumbotron">
    	<h3 class="display-3">{{#if isEmpty}}No new applicants.{{else}}Review New Applicants{{/if}}</h3>
    </div>
{{#if users}}
{{#each users}}

	<h4>{{username}}</h4>
	<div class="row marketing">
	<div class="col-lg-8">
	<form method="POST" action="/applicants">
		<div class="form-group">

			<input type="text" id ="message" name = "message"  placeholder="Please give reasoning" required></textarea>
		    
			<textarea class="textbox" id ="user" name = "user" style="display:none">{{username}}</textarea>

		    <input type="submit" name = "decision" value ="Accept"/>
			<input type="submit" name = "decision" value="Deny"/>
		</div>
	</form>
	</div>
	</div>
{{/each}}
{{/if}}
      <footer class="footer">
        <p>&copy; _Meet 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
