{{> header }}

<div class='container'>
<h1>{{title}}</h1>

{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">
			{{this.msg}}
		</div>
	{{/each}}
{{/if}}

{{#if userError}}
	<div class="alert alert-danger">
		{{userError}}
	</div>
{{/if}}

<form method="POST" action="/register">
	<div class="form-group">
		
		<label for="username">Username</label>
		<input type="text" name="username" class="form-control" placeholder="Username" required>

	    <label for="email">Email</label>
		<input type="text" name="email" class="form-control" placeholder="Email" required>

		<label for="password">Password</label>
		<input type="text" name="password" class="form-control" placeholder="Password" required>

		<label for="passwordMatch">Re-enter Password</label>
		<input type="text" name="passwordMatch" class="form-control" placeholder="Re-enter Password">

		<label for="userType">Select what type of user you wish to be</label>
     	<select class="form-control" name = "userType" id="userType">
	        <option>Developer</option>
	        <option>Client</option>
      	</select>

		<button type="submit" class="btn-btn_primary">Submit</button>
  	</div>
</form>

</div>